{% extends "homepage/layout.html" %}

{% block title %}
DBL Group 33 | About
{% endblock %}
{% block nav %}
	<nav>
		<ul>
			<li><a href="{% url 'index' %}">Home</a></li>
			<li><a href="#">Visualisations</a>
				<ul>
					<li><a href="{% url 'vis1' %}">Vis 1</a></li>
					<li><a href="#">Vis 2</a></li>
				</ul></li>
			<li><a href="#" class="current">About</a></li>
		</ul>
	</nav>
{% endblock %}

{% block div %}
<div class="container">
	<div class="main">
		<p>About page just to test, I dont even know if we want an about page</p>
	</div>
</div>
{% endblock %}