{% load filters %}
{% load static %}

<div class="am-wrapper am-vis">
    <div class="am-loader">
        <div class="circle"></div>
        <span id="am-loader-text">Loading...</span>
    </div>
    <table class="adjacency-matrix names custom-scrollbar" id="adjacency-matrix">
        <thead>
            <tr>
                <th><span>x</span></th>
                {% for nodeDataTopHeader in nodeData %}
                <th><span>{{ nodeDataTopHeader.id }}</span></th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for matrixRow, normMatrixRow, nodeDataLeftHeader in zippedMatrixData %}
            <tr id="node-{{ nodeDataLeftHeader.id  }}">
                <th>{{ nodeDataLeftHeader.id  }}</th>
                {% for matrixCell in matrixRow %}
                    <td class="matrix-data-element" data-row-index="{{ forloop.parentloop.counter0 }}" data-column-index="{{ forloop.counter0 }}" data-edge-count-norm="{{ normMatrixRow|index:forloop.counter0 }}">
                        {% if matrixCell > 0 %}
                        <span>{{ matrixCell }}</span>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="edge-info-popup"></div>

<script src="{% static "homepage/am.js" %}"></script>
<script>
// Initialize variables
const matrixTableEntries = document.querySelectorAll('.adjacency-matrix .matrix-data-element')
const inputToggleEmails = document.getElementById('am-toggle-emails')
const inputToggleHover = document.getElementById('am-toggle-hover')
const inputToggleColoring = document.getElementById('am-toggle-coloring-sentiment')
const amWrapper = document.querySelector('.am-wrapper')
const amLoader = document.querySelector('.am-wrapper .am-loader')
const amLoaderText = document.getElementById('am-loader-text')

amLoaderText.innerText = 'Setting up interactions...'

// Fetch Django variables into JS variables
var nodeData = {{ nodeData| safe }}
var edgeData = {{ edgeData| safe }}

// Matrix cell interactions
matrixTableEntries.forEach(entry => {
    // Hover interactions
    entry.onmouseenter = () => enterCell(entry, nodeData, edgeData)
    entry.onmouseout = () => exitCell()

    // Click interactions
    entry.addEventListener('click', () => clickCell(entry, nodeData, edgeData))
})

// Initialize coloring by edge count
edgeCountColoring(matrixTableEntries, nodeData, edgeData)

// Remove empty rows
amLoaderText.innerText = 'Removing empty rows...'
removeEmptyRows(nodeData, edgeData)

// Hide the preloader on load
amLoaderText.innerText = 'Done!'
amWrapper.classList.add('loaded')
setTimeout(() => amLoader.classList.add('hidden'), 300)
</script>