<div class="am-controls">
    <h3>Visualization controls</h3>
    <form>
        <div class="field">
            <p class="title">Display email in header</p>
            <label class="switch">
                <input type="checkbox" id="am-toggle-emails">
                <span class="switch-slider"></span>
            </label>
        </div>
        <div class="field">
            <p class="title">Display hover information</p>
            <label class="switch">
                <input type="checkbox" id="am-toggle-hover" checked>
                <span class="switch-slider"></span>
            </label>
        </div>
        <div class="field">
            <p class="title">Color by sentiment instead of amount</p>
            <label class="switch">
                <input type="checkbox" id="am-toggle-coloring-sentiment">
                <span class="switch-slider"></span>
            </label>
        </div>
    </form>
    <br />
    <br />
</div>