{% extends "homepage/layout.html" %}
{% load static %}

{% block title %}
DBL Group 33 | Homepage
{% endblock %}

{% block nav %}
{% include "homepage/navbar.html" with active_page='index' %}
{% endblock %}

{% block div %}
<div class="container">
	<div class="main">
		<section class="row-layout">
			<h2> Upload </h2>
			<p>You can upload your .csv data set here, which will then be visualized in several different types of visualizations.</p>
			<form method="post" enctype="multipart/form-data">
				{% csrf_token%}
				{{form}}
				<button type="submit" class="button"> Upload file </button>
			</form>
			<p>{{uploaded_file_url}}</p>
		</section>
		<section class="row-layout">
			<h2>Visualization 1: Node-link diagram</h2>
			<p>This visualization displays a node-link diagram of the network graph, made using Plotly and Dash.</p>
			<a class="button" href="/vis1">Go to visualization 1</a>
			<img src="{% static 'homepage/network_node_link.png' %}" alt="Node-link diagram" class="side-img" />
		</section>
		<section class="row-layout">
			<h2>Visualization 2: Adjacency matrix</h2>
			<p>This visualization displays an adjacency matrix of the input data.</p>
			<a class="button" href="/vis2">Go to visualization 2</a>
			<img src="{% static 'homepage/adjacency_matrix_fade.png' %}" alt="Node-link diagram" class="side-img" />
		</section>
	</div>
</div>
{% endblock %}