<nav>
  <ul>
    <li><a href="{% url 'index' %}" class="{% if active_page == 'home' %}current{% endif %}">Home</a></li>
    <li><a href="#">Visualisations</a>
      <ul>
        <li><a href="{% url 'vis1' %}" class="{% if active_page == 'vis1' %}current{% endif %}">Vis 1</a></li>
        <li><a href="{% url 'vis2' %}" class="{% if active_page == 'vis2' %}current{% endif %}">Vis 2</a></li>
      </ul>
    </li>
    <li><a href="{% url 'about' %}" class="{% if active_page == 'about' %}current{% endif %}">About</a></li>
  </ul>
</nav>