{% extends "homepage/layout.html" %}

{% block title %}
Visualization 1 | DBL Group 33
{% endblock %}

{% block nav %}
{% include "homepage/navbar.html" with active_page='vis1' %}
{% endblock %}


{% block div %}
<div class="container">
    <div class="main">
        <h1>Visualization 1: MultiDiGraph</h1>
        <p>This visualization consists of a Network MultiDiGraph, where each node represents a user's e-mail address and each edge represents a message sent between two users. With the help of interactive tools, you can easily analyze the e-mail traffic of Enron's company.</p>
        <br>
        <h2>Interactive tools - Left panel</h2>
        <p>Select from the left panel the filters that you want to apply for the data, then please click the "Update Filters" button.</p>
        <br>
        <p>You can also hover over nodes in order to view their attributes, or you can click on a specific one in order to highlight it.</p>
        <br>
        <h2>Interactive tools - Right panel</h2>
        <p>Select your file from the dropdown list. To visualize the selected dataset please hit the "Update Filters" button on the left.</p>
        <br>
        <p>Select your desired animation speed and then please hit the "Play Animation from the beginning" button. You can change it by pausing and selecting a different value. You can also choose a different time interval from the interactive calendar located on the left panel.</p>
        <br>
        <h2>Link to the Adjacency matrix</h2>
        <p>You can also view the filtered data set in its adjacency matrix form by navigating to Visualisations -> Vis2. If you are in animation mode, please pause the animation first.</p>
        <br>
        <h3>Attention! For large datasets, it may take a while before the graph is loaded!</h3>
        <div class="nodeLinkGraph">
            <br>
            <br>
            {% load plotly_dash %}
            <br>
            {% plotly_app name="GraphVisualisation" ratio=1.0 %}
        </div>
    </div>
</div>
{% endblock %}