{% extends "homepage/layout.html" %}

{% load filters %}
{% load static %}

{% block title %}
Visualization 2 | DBL Group 33
{% endblock %}

{% block nav %}
{% include "homepage/navbar.html" with active_page='vis2' %}
{% endblock %}

{% block div %}
<div class="container">
    <div class="main">
        <h1>Visualization 2: Adjacency matrix</h1>
        <p>This visualization displays an adjacency matrix of the input data. Interestingly enough, we see that quite a lot of people emailed themselves, possibly to share files since cloud services didn't exist during the time that this data originates from.</p>
        <br />
        <h3>Controls</h3>
        <form>
            <div class="field">
                <p class="title">Display email in header</p>
                <label class="switch">
                    <input type="checkbox" id="am-toggle-emails">
                    <span class="switch-slider"></span>
                </label>
            </div>
        </form>

        <div class="am-wrapper">
            <div class="am-loader">
                <div class="circle"></div>
                <span id="am-loader-text">Loading...</span>
            </div>
            <table class="adjacency-matrix names custom-scrollbar" id="adjacency-matrix">
                <thead class="visible">
                    <tr>
                        <th><span>x</span></th>
                        {% for nodeDataTopHeader in nodeData %}
                        <th><span>{{ nodeDataTopHeader.id }}</span></th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for matrixRow, normMatrixRow, nodeDataLeftHeader in zippedMatrixData %}
                    <tr id="node-{{ nodeDataLeftHeader.id  }}">
                        <th class="visible">{{ nodeDataLeftHeader.id  }}</th>
                        {% for matrixCell in matrixRow %}
                            <td class="matrix-data-element" style="background-color: rgba(101, 204, 169, {{ normMatrixRow|index:forloop.counter0 }})" data-row-index="{{ forloop.parentloop.counter0 }}" data-column-index="{{ forloop.counter0 }}">
                                {% if matrixCell > 0 %}
                                <span>{{ matrixCell }}</span>
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="edge-info-popup"></div>
    </div>
    <script src="{% static "homepage/am.js" %}"></script>
    <script>
    // Initialize variables
    const matrixTableEntries = document.querySelectorAll('.adjacency-matrix .matrix-data-element')
    const inputToggleEmails = document.getElementById('am-toggle-emails')
    const amWrapper = document.querySelector('.am-wrapper')
    const amLoader = document.querySelector('.am-wrapper .am-loader')
    const amLoaderText = document.getElementById('am-loader-text')

    // Fetch Django variables into JS variables
    const nodeInfo = {{ nodeData| safe }}
    const edgeData = {{ edgeData| safe }}

    // Matrix cell interactions
    matrixTableEntries.forEach(entry => {
        // Hover interactions
        entry.addEventListener('mouseenter', () => enterCell(entry, nodeInfo))
        entry.addEventListener('mouseout', () => exitCell())

        // Click interactions
        entry.addEventListener('click', () => clickCell(entry, nodeInfo, edgeData))
    })

    // Control interactions
    inputToggleEmails.addEventListener('click', () => inputToggleEmails.checked ? toggleEmails(true, nodeInfo) : toggleEmails(false, nodeInfo))

    // Remove empty rows
    amLoaderText.innerText = 'Removing empty rows...'
    removeEmptyRows(nodeInfo, edgeData)

    // Hide the preloader on load
    amLoaderText.innerText = 'Done!'
    amWrapper.classList.add('loaded')
    setTimeout(() => amLoader.classList.add('hidden'), 300)
    </script>
</div>
{% endblock %}