{% extends "homepage/layout.html" %}

{% block title %}
Visualization 2 | DBL Group 33
{% endblock %}

{% block nav %}
{% include "homepage/navbar.html" with active_page='vis2' %}
{% endblock %}

{% block div %}
<div class="container">
    <div class="main">
        <h1>Visualization 2: Adjacency matrix</h1>
        <p>This visualization displays an adjacency matrix of the input data. Interestingly enough, we see that quite a lot of people emailed themselves, possibly to share files since cloud services didn't exist during the time that this data originates from.</p>
        <br />
        <h3>Controls</h3>
        <form>
            <div class="field">
                <p class="title">Matrix size</p>
                <input id="am-size-slider" class="slider" type="range" value="10" min="2" max="18" step="2" />
            </div>
        </form>

        <table class="adjacency-matrix">
            <thead>
                <tr>
                    <th class="vertical-table-header"><span>x</span></th>
                    <!-- ze = zippedElement, refers to the way the adj_matrix is created and stored in views.py -->
                    {% for ze in adj_matrix %}
                    <th class="vertical-table-header"><span>{{ ze.1.email }}</span></th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for ze in adj_matrix_2 %}
                <tr>
                    <th>{{ ze.1.email  }}</th>
                    {% for cell in ze.0 %}
                    <td class="size-16" style="background-color: rgba(101, 204, 169, {{ cell }})"></td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
    // Get the slider and table elements
    const sizeSlider = document.getElementById('am-size-slider')
    const matrixTableEntries = document.querySelectorAll('.adjacency-matrix td')

    // When the slider value changes, resize all td elements by setting their class
    //
    // Example:
    // Let's say the slider has got the value 4. This results in every td element getting the class="size-4"
    // In CSS, all elements with the class "size-4" get a width of 4px and a height of 4px
    sizeSlider.addEventListener('change', () => {
        matrixTableEntries.forEach(entry => {
            entry.className = `size-${sizeSlider.value}`
        })
    })
    </script>
</div>
{% endblock %}