{% extends "homepage/layout.html" %}

{% load filters %}
{% load static %}

{% block title %}
Visualization 3 | DBL Group 33
{% endblock %}

{% block nav %}
{% include "homepage/navbar.html" with active_page='vis3' %}
{% endblock %}


{% block div %}
<div class="container">
    <div class="combined">
        <div class="combNodeVis">
            <h1>Node Link diagram</h1>
            {% load plotly_dash %}
            {% plotly_app name="GraphVisualisation" ratio=1.5 %}
        </div>
        <div class=combAdjVis>
            <h1>Adjacency matrix</h1>
            {% include "homepage/am_controls.html" %}
        </div>
    </div>
</div>
{% endblock %}