{% extends "homepage/layout.html" %}

{% block nav %}
{% include "homepage/navbar.html" with active_page='vis1' %}
{% endblock %}


{% block div %}
<div class="container">
    <div class="main">
	<h1>Visualization 1: MultiDiGraph</h1>
        <p1>This visualization consists of a Network MultiDiGraph, where each node represents a user's e-mail address and each edge represents a message sent between two users. With the help of interactive tools, you can easily analyze the e-mail traffic of Enron's company.</p2>
	</div>
    <iframe src="http://127.0.0.1:8050/" height="500" width="1000" title="Iframe Example"></iframe>
</div>
{% endblock %}