{% extends "homepage/layout.html" %}

{% block title %}
About | DBL Group 33
{% endblock %}

{% block nav %}
{% include "homepage/navbar.html" with active_page='about' %}
{% endblock %}

{% block div %}
<div class = "loader_bg">
	<div class ="loader">
	</div>
</div>

<div class="container">
  <section class="about">
    <div class="about-intro">
      <h1>Meet Our Team</h1>
    </div>

    <div class="about-grid">
      <div class="card">
        <div class="card-img">
          <img src="./static/OngunK.jpg" alt="Ongun">
        </div>
        <div class="card-text">
          <div>
            <h2>Ongun Korkmaz</h2>
            <p class="title">UI &amp; Interaction Designer</p>
            <span>Hello, thank you for visiting our website! 
            I’m a first-year Computer Science &amp; Engineering student at TU/e just like my other colleagues here. I’ve mainly focused on the UI elements, visualizations, and the tools we’ve added to our visualizations. 
            We’ve made sure that you can use this website to its full potential. Have fun using our tools and website!
            </span>
            <br>
          </div>
          <div class="buttons">
            <a href="mailto:ongun.korkmaz@gmail.com" target="_blank" class="about-button mail"><i class="far fa-envelope"></i></a>
            <a href="https://www.linkedin.com/in/ongun-k-710022140/" target="_blank" class="about-button linkedin"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-img">
          <img src="./static/Jelte.png" alt="Jelte Schuurmans">
        </div>
        <div class="card-text">
          <div>
            <h2>Jelte Schuurmans</h2>
            <p class="title">Scrum master</p>
            <span>Hi, I'm Jelte and I am 21 years old. 
              I study Computer science and engineering at the university of technology in Eindhoven.
              I've worked on deploying the website and a bit on the MultiDiGraph.
              I am also the Scrum Master of the group.
              I hope the tools the website provides you will be helpful!
            </span>
          </div>
          <div class="buttons">
            <a href="mailto:j.j.w.schuurmans@student.tue.nl" target="_blank" class="about-button mail"><i class="far fa-envelope"></i></a>
          </div>
        </div>
      </div>
      
      <div class="card">
        <div class="card-img">
          <img src="./static/jesse.png" alt="Jesse Traas">
        </div>
        <div class="card-text">
          <div>
            <h2>Jesse Traas</h2>
            <p class="title">Visualization developer</p>
            <span>Hi! I'm Jesse and I'm an 18 year old Computer Science student at the University of Technology Eindhoven with a passion for web development and web design. I'm the main developer of the adjacency matrix in this tool and I helped lay the groundwork for the node-link diagram.</span>
          </div>
          <div class="buttons">
            <a href="mailto:j.g.a.traas@student.tue.nl" target="_blank" class="about-button mail"><i class="far fa-envelope"></i></a>
            <a href="https://www.linkedin.com/in/jesse-traas-0829ba1b9/" target="_blank" class="about-button linkedin"><i class="fab fa-linkedin"></i></a>
            <a href="https://jessetraas.nl" target="_blank" class="about-button site"><i class="far fa-globe"></i></a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-img">
          <img src="./static/Minh.jpg" alt="Ongun">
        </div>
        <div class="card-text">
          <div>
            <h2>Pham Duc Minh</h2>
            <p class="title">Back-end engineer</p>
            <span>I am currently a first-year student at TU/e, majoring in Computer Science. In this project, I am responsible for the backend (Django) and deployment. I am seeking for SWE internship or undergratudates. If you are interested, please contact me.</span>
          </div>
          <div class="buttons">
            <a href="mailto:d.pham.duc.minh@student.tue.nl" target="_blank" class="about-button mail"><i class="far fa-envelope"></i></a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-img">
          <img src="./static/Victor.jpg" alt="Victor Asanache">
        </div>
        <div class="card-text">
          <div>
            <h2>Victor Asanache</h2>
            <p class="title">Visualization developer</p>
            <span>Hello there! My name is Victor and I'm currently finishing my first year in Computer Science and Engineering at TU/e! I enjoyed working on the interactive controls of the Node Link diagram and I have to say that implementing the timestamp animation was an interesting experience! We hope that our diverse tools will help you with the data set analysis and we wish you to have fun while exploring our website!
            </span>
          </div>
          <div class="buttons">
            <a href="mailto:v.asanache@student.tue.nl" target="_blank" class="about-button mail"><i class="far fa-envelope"></i></a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-img">
          <img src="./static/Johan.jpeg" alt="Johan van Dongen">
        </div>
        <div class="card-text">
          <div>
            <h2>Johan van Dongen</h2>
            <p class="title">UI designer</p>
            <span>Hi, my name is Johan and I‘m 19 years old. I study computer science at University of Technology Eindhoven. 
              I worked on the uploading application and made sure that the uploaded files are communicated with the visualizations. 
              I also helped set up the main web design. Have fun exploring the website!
            </span>
          </div>
          <div class="buttons">
            <a href="mailto:j.p.v.dongen@student.tue.nl" target="_blank" class="about-button mail"><i class="far fa-envelope"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="contact">
    <div class="containerContact">
      <h1>Contact Us!</h1>
      <form method="post">

        {% csrf_token %}
        {{ form.as_p }}

        <button class="button" type="submit" value="Submit">Submit</button>
        
      </form>
    </div>
  </section>
</div>

<script>
	let loaderBackground = document.querySelector('.loader_bg');

	window.addEventListener('load', function() {
		loaderBackground.style.display = 'none';
	});
</script>

{% endblock %}
