{% extends "homepage/layout.html" %}

{% block title %}
DBL Group 33 | Homepage
{% endblock %}

{% block nav %}
	<nav>
		<ul>
			<li><a href="#" class="current">Home</a></li>
			<li><a href="#">Visualisations</a>
				<ul>
					<li><a href="#">Vis 1</a></li>
					<li><a href="#">Vis 2</a></li>
				</ul></li>
			<li><a href="{% url 'about' %}">About</a></li>
		</ul>
	</nav>
{% endblock %}

{% block div %}
<div class="container">
	<div class="main">
		<p>	
			Index page,
			<br> Blue border is just to let you see how the main div is positioned
			<br> Only made the about page just for now
		</p>
	</div>
</div>
{% endblock %}


