/* Variables */
/* CSS also has variables, which can come in handy for frequently occurring values like colors and paddings. */
/* They can be defined in any block, but it's good practice to declare them in the :root block. */
/* They can be declared by typing `--var-name: #ffffff;` and they can be used by typing `color: var(--var-name)` */
:root {
	--color-black-softest: #485461; /* softer black */
	--color-black-soft: #363F48; /* softer black */
	--color-black-hard: #2d353c; /* harder black */
	--color-black-hardest: #21282e; /* hardest black */
	--color-green-light: #65cca9; /* light green */
	--color-green: #29b586; /* medium green */
	--color-red: #cc6688;
	--padding-sides: 15%;
	--footer-height: 3rem;
	--timing-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; /* Changes the behaviour of padding and borders. It makes sure the element doesn't become larger because of it's padding, since the padding is put inside the element. Try commenting out this line to see what it does! The navbar will go "outside of the page" to the right. */
}

body {
	color: #fff;
	background-color: var(--color-black-hard);
	font: 17px "Rubik", sans-serif;
	overflow-x: hidden;
}

/* General font settings */
h1, h2, h3, h4, h5, h6 { margin-bottom: 0.33em; }

/* I try to keep an order in which position is above, then z-index, width,height, floats and display, padding and margins, fonts and colors.*/

/*Menu						************************************************************************************************************************************************/
header {
	position: relative;
	width: 100%;
	height: 80px;

	/* Positioning */
	display: flex;
	justify-content: space-between; /* Puts the two child elements (website name and nav) as far away from eachother as possible. */
	align-items: center; /* Vertical align */
	padding: 0 var(--padding-sides);
	
	color: white;
	background-color: var(--color-black-soft);
	/*border-bottom: 2px solid var(--color-black-softest);*/
}

/* Website name */
header p {
	color: var(--color-green-light);
	font-size: 30px;
}

header nav {
	position: relative; /* z-index only works if the position is set to anything other than "static", the default */
	z-index: 10; /* Makes sure dropdown menu is seen as a top layer| higher z-index -> higher layer */
}
header nav > ul > li {
	position: relative;
	display: inline-block;
	margin: 0px 5px;
	padding: 5px;
}
header nav ul li a {
	text-decoration: none; /*No line under link as usual*/
	padding: 5px;
	font-size: 20px;
	color: white;
}
header nav ul li:hover { background-color: var(--color-green-light); }
header nav ul li ul {
	position: absolute;
	width: 100%;
	left: 0;
	display: none;
	margin-top: 5px; 			/*same 5 as padding in 'li a'*/
	background-color: var(--color-black-softest);
	box-shadow: 1px 4px 8px 0 rgba(0,0,0,0.3);
}
header nav ul li:hover ul {
	display: block; /* Display submenu's when their list item is hovered */
}
header nav ul li ul li, header nav ul li ul li a {
	display: block; /* Set the display type to block to make sure the submenu items take up the full width and height */
}
header nav ul li ul li a {
  padding: 5px 12px; /* Adding a bit of padding to the left and the right of elements in submenus */
}

/* Current page highlighthed in menu */
.current {
	background-color: var(--color-green-light);
}
/*End Menu						************************************************************************************************************************************************/
/* small add-on so that website looks somewhat reasonable on mobile devices*/
@media screen and (max-width:768px) {
	header {
		flex-direction: column;
	}
	.upload-button{
		width: 50%;
	}
	.row-layout .side-img{
		width: 40%;
		right: -20px;
		margin-top: 135px;
	}
	footer .copy{
		width: 30%;
	}
	footer .madeBy{
		width: 70%;
	}
}

.container {
	position: relative;
	z-index: 1;
	color: #fff;
	background-color: var(--color-black-hard);
}
.container h1, h2, h3, strong, bold { color: #65cca9; }
.container > section {
	width: 100%;
	padding: 2rem var(--padding-sides);
}
.container > section h1 {
	font-size: 2em;
}
.container > section:nth-child(even) {
	background-color: var(--color-black-soft);
}


/* Make the footer stay at the bottom of the page */
#page-container { position: relative; min-height: 100vh; }
#content-wrapper { padding-bottom: var(--footer-height); }

footer {
	/* Final 4 lines of forcing the footer to stay at the bottom of the page */
	position: absolute;
	bottom: 0;
	width: 100%;
	height: var(--footer-height);

	/* Positioning the elements in the footer */
	display: flex;
	justify-content: space-between;
	align-items: center;

	/* Adding the same side padding as the rest of the page */
	padding: 0 var(--padding-sides);

	color: #ccc;
	border-top: 2px solid var(--color-black-softest);
	background-color: var(--color-black-soft);
}

/* ------------------------------
Homepage row layout design
------------------------------ */
.row-layout {
	position: relative;
	padding: 2rem;
	background-color: var(--color-black-softest);
	border-radius: 1rem;
	overflow: hidden;
}
.row-layout + .row-layout { margin-top: 1rem; }
.row-layout .button { margin-top: 1rem; }
.row-layout .button + .button {
	margin-left: 8px; /* Any buttons that are preceded by another button get a left margin */
}
.row-layout .side-img {
	position: absolute;
	right: -20px;
	top: -20px;
	max-height: 125%;
	opacity: 0.5;
}
.row-layout p { max-width: 80%; }


/* ------------------------------
Adjacency matrix styling
------------------------------ */
.adjacency-matrix {
  position: relative;
	margin-top: 2rem;
	border-collapse: separate; /* Don't collapse for header borders */
  border-spacing: 0;
	background-color: var(--color-black-soft);

	/* Sizing and scroll setup */
	display: inline-block;
	overflow: auto;
	max-height: 600px;
	max-width: 100%;
}

.adjacency-matrix thead th {
	padding: 4px 8px;
	position: sticky;
	top: 0;
	background-color: var(--color-black-softest);
	z-index: 1;
	border-bottom: 2px solid #839ab1;
}

.adjacency-matrix tbody th {
	position: sticky;
	z-index: 1;
	left: 0;
	padding: 4px 8px;
	text-align: left;
	border-right: 2px solid #839ab1;
	background-color: var(--color-black-softest);
}

.adjacency-matrix th { font-size: 14px; }


.adjacency-matrix .matrix-data-element {
	position: relative;
	text-align: center;
	cursor: pointer;
}

.field .title { margin-bottom: 4px; }
.field { max-width: 300px; }
.field + .field { margin-top: 1rem; }


/* Adjacency matrix - Loading animation */
.am-wrapper { position: relative;}
.am-wrapper::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-black-soft);
  z-index: 2;
	opacity: 1;
	transition: opacity 300ms ease;
}
.am-wrapper.loaded::before {
	opacity: 0;
	pointer-events: none;
}

.am-wrapper .am-loader {
	position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
	opacity: 1;
  z-index: 3;
	transition: opacity 300ms ease;
}

.am-wrapper.loaded .am-loader { opacity: 0; } /* Animate the loader out */
.am-wrapper.loaded .am-loader.hidden { display: none; } /* Remove element from page */

.am-loader #am-loader-text {
	display: block;
	margin-top: 1rem;
	color: #999;
	text-align: center;
}

.am-wrapper .circle {
  box-sizing: border-box;
  width: 80px;
  height: 80px;
	margin: 0 auto;
  border-radius: 100%;
  border: 10px solid rgba(255, 255, 255, 0.2);
  border-top-color: #FFF;
  animation: spin 1s infinite linear;
}
.am-wrapper.loaded .circle { display: none; }

@keyframes spin {
  0% {
    transform: rotate(0deg); 
  }
  100% {
    transform: rotate(360deg); 
  } 
}


/* Adjacency matrix - Micro layout overwrites */
.adjacency-matrix.micro {
	--am-micro-size: 6px;
	max-height: 100%;
}
.adjacency-matrix.micro thead, .adjacency-matrix.micro th  { display: none; }
.adjacency-matrix.micro td {
	height: var(--am-micro-size);
	width: var(--am-micro-size);
	padding: 0;
}

.adjacency-matrix.micro td span, .adjacency-matrix.micro th span {
	display: none;
}


/* Adjacency matrix - Popup */
.edge-info-popup {
	position: absolute;
	transform: translate(-50%, -50%);
	padding: 1em;
	background-color: var(--color-black-hardest);
	color: #fff;
	border-radius: 6px;
	opacity: 0;
	z-index: 10;
	pointer-events: none;
}

.edge-info-popup p { white-space: nowrap; }
.edge-info-popup::after {
	content: " ";
	position: absolute;
	top: 99%;
	left: 50%;
	margin-left: -8px;
	border-width: 8px;
	border-style: solid;
	border-color: var(--color-black-hardest) transparent transparent transparent;
}

.matrix-data-element span { pointer-events: none; }
.edge-info-popup.show { opacity: 1; animation: pop 200ms ease forwards; }

@keyframes pop {
	0% { transform: var(--translate-eip) scale(0.9); }
	80% { transform: var(--translate-eip) scale(1.01); }
	100% { transform: var(--translate-eip) scale(1); }
}


/* Email list within modal */
.edge-info-modal .col-2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2rem;
}
.edge-info-modal p { white-space: nowrap; }

.email-list {
	width: 100%;
	text-align: left;
	border-spacing: 0;
	margin-top: 2em;

	/* Sizing and scroll setup */
	display: block;
	overflow: auto;
	max-height: 500px;
}
.email-list th {
	padding: 8px 20px;
	white-space: nowrap;
	font-weight: 400;
	border-top: 1px solid var(--color-black-softest);
  border-bottom: 1px solid var(--color-black-softest);
	position: sticky;
	top: 0;
	z-index: 1;
	background-color: var(--color-black-hard);
	cursor: pointer;
}
.email-list th[data-sort="asc"]::after {
	margin-left: 8px;
	content: '\25B4';
}
.email-list th[data-sort="desc"]::after {
	margin-left: 8px;
	content: '\25BE';
}

.email-list th:first-child, .email-list td:first-child { padding-left: 1rem; }
.email-list th:last-child, .email-list td:last-child { padding-right: 1rem; }

.email-list td:nth-child(2), .email-list th:nth-child(2) { text-align: right; }

.email-list td { padding: 6px 20px; color: #fff; white-space: nowrap; }

.email-list tbody tr { transition: color 200ms ease; }
.email-list tbody tr:hover { background-color: var(--color-black-soft); }

.email-list td.positive { color: var(--color-green); }
.email-list td.negative { color: var(--color-red); }

.no-emphasis { color: #999; }





/* ------------------------------
node link styling
------------------------------ */
.node-link-graph {
	margin-top: 3rem;
	overflow: hidden;
	border: 10px solid #65cca9;
	border-radius: 20px;
}

.graph-wrapper #mail-graph {
	display: inline-block;
	vertical-align: middle;
	margin-top: 3vw;
	width: 100%;
	height: 500px;
}

/* ------------------------------
vis 3 styling
------------------------------ */
body.wide {
	--padding-sides: 2rem; /* making body wider for vis3 */
}
.combined {
	padding: 3rem;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.combNodeVis, .combAdjVis {
	width: 50%;
	overflow: hidden;
	border: 1px solid #65cca9;
	border-radius: 20px;
}
.combAdjVis {
	margin-left: 3rem;
}
.combNodeVis h1, .combAdjVis h1 {
	color: #65cca9;
	text-align: center;
}
.AdjForms {
	text-align: left;
	height: 400px;
}
.am-wrapper-vis3 {
	margin-top: 3vh;
}
.reload-vis3 {
	border-radius: 10px;
	background-color: var(--color-black-soft);
	text-align: center;
	width: 10%;
	color: #65cca9;
	margin: auto;	
	margin-top: 3vh;
}
.reload-vis3 a {
	border-radius: 10px;
	display: block;
	margin: auto;
	text-decoration: none;
	color: white;
}
.reload-vis3 a:hover {
	background: #65cca9;
}

coolHover{
	position: relative;
	color: white;
	padding: 10px 8px;
	font-size: 17px;
	border-radius: 4px;
	letter-spacing: 0.5px;
	overflow: hidden;
	background: #65cca9;
	transition: .5s linear;
	transition-delay: 0s;
}

coolHover:hover{
	background: #29b586;
	color: white;
	transition: 0.5s linear;
	transition-delay: 1s;
}

coolHover vis1go{
	display: block;
	position: absolute;
	
}

coolHover vis1go:nth-child(1) {
	top: 0;
	left: -100%;
	height: 4px;
	width: 45%;
	background: linear-gradient(90deg, transparent, var(--color-black-softest));
}

coolHover:hover vis1go:nth-child(1) {
	left: 100%;
	transition: 1s;
}

coolHover vis1go:nth-child(2) {
	top: -100%;
	right: 0;
	height: 45%;
	width: 4px;
	background: linear-gradient(180deg, transparent, var(--color-black-softest));
}

coolHover:hover vis1go:nth-child(2) {
	top: 100%;
	transition: 1s;
	transition-delay: 0.25s;
}

coolHover vis1go:nth-child(3) {
	bottom: 0;
	right: -100%;
	height: 4px;
	width: 45%;
	background: linear-gradient(270deg, transparent, var(--color-black-softest));
}

coolHover:hover vis1go:nth-child(3) {
	right: 100%;
	transition: 1s;
	transition-delay: 0.5s;
}

coolHover vis1go:nth-child(4) {
	top: 100%;
	left: 0;
	height: 20%;
	width: 4px;
	background: linear-gradient(360deg, transparent, var(--color-black-softest));
}

coolHover:hover vis1go:nth-child(4) {
	top: -100%;
	transition: 1s;
	transition-delay: 0.9s;
}






/* ------------------------------
About page styling
------------------------------ */
.about .about-intro {
	text-align: center;
	max-width: 60%;
	margin: 0px auto;
}

.about .about-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-gap: 4rem 6rem;
	margin: 2rem 0;
}

.about-grid .card {
	--card-radius: 12px;
  display: flex;
  flex-direction: column;
	width: 100%;
}

.about-grid .card-img {
	position: relative;
	width: 100%;
	height: 0;
	padding-top: 100%;
}

.about-grid .card-img img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: var(--card-radius);
}

.about-grid .card-text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
  padding: 1.5rem 0;
}

.about-grid .card-text > *:last-child { margin-top: 1rem; }


.about-grid .card .about-button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	color: #ccc;
	background-color: var(--color-black-softest);
	transition: color 200ms ease, background-color 200ms ease;
}
.about-grid .card .about-button + .about-button { margin-left: 0.5em; }

.about-grid .card .about-button:hover { color: #fff; background-color: #576575; }
.about-grid .card .about-button.linkedin:hover { background-color: #0084bf; }

.about-grid .card .title {
	display: block;
  color: #aaa;
	margin-bottom: 1rem;
}

.about-grid .card .button { width: 100%; }


@media screen and (max-width: 550px) {
  .about .about-grid {
		grid-template-columns: 1fr;
	}
}


/* Contact */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #65cca9;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #339072;
}

/* Add a background color and some padding around the form */
.containerContact {
  border-radius: 5px;
}

.loader_bg {
	position: absolute;
	background: #485461;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 99;
}

.loader{
	border: 0 solid transparent;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	position: absolute;
	top: calc(50vh - 75px);
	left: calc(50vw - 75px);
}
.loader::before, .loader::after{
	content: '';
	border: 1em solid #65cca9;
	border-radius: 50%;
	width: inherit;
	height: inherit;
	position: absolute;
	top: 0;
	left: 0;
	animation: loader 2s linear infinite;
	opacity: 0;
}
.loader::before{
	animation-delay: .5s;
}
@keyframes loader{
	0%{
		transform: scale(0);
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		transform: scale(1);
		opacity: 0;
	}
}